.centered{
    text-align: center;
}

#TitleModal{
    margin-bottom: 5%;
}

.mar{
    margin-top: 5%;
}

.ma{
    margin-top: 1.5%;
}

.marg{
    padding-top: 10px;
    padding-bottom: 10px;
}